<!DOCTYPE html>
<html lang="en-us">
<%- include('partials/head') %>

    <body>
        <div id="left-navbar">
            <h5 id="calender-label">Date</h5>
            <div id="calender">
                <div id="cal-header">
                    <div style="visibility: hidden;">previous month</div>
                    <div id="current-month"></div>
                    <div style="visibility: hidden;">next month</div>
                </div>
                <div id="cal-dates">
                    <div class="day day-label">SUN</div>
                    <div class="day day-label">MON</div>
                    <div class="day day-label">TUE</div>
                    <div class="day day-label">WED</div>
                    <div class="day day-label">THU</div>
                    <div class="day day-label">FRI</div>
                    <div class="day day-label">SAT</div>
                </div>
            </div>

            <h5>Players</h5>
            <div id="num-players">
                <button id="2-players" class="num-players-toggle">
                    2
                </button>
                <button id="3-players" class="num-players-toggle">
                    3
                </button>
                <button id="4-players" class="num-players-toggle">
                    4
                </button>
                <button id="any-players" class="num-players-toggle players-selected">
                    Any
                </button>
            </div>

            <h5 for="hole-select">Hole Selection</h5>
            <select name="hole-select" id="hole-select">
                <option>Any</option>
                <option>9 Holes</option>
                <option>18 Holes</option>
            </select>


        </div>

        <!--  -->
        <div id="right-teetimes">
            <% if (Array.isArray(teetimes)) { %>
                <% let index=0 %>
                    <% while (index < teetimes.length) { %>
                        <% if (index % 4===0) { %>
                            <div class="teetime-row">
                                <% } %>
                                    <%const time24hr=teetimes[index].startTime.split('T')[1] %>
                                        <% const hour_int=parseInt(time24hr.split(':')[0], 10) %>
                                            <% const minute=time24hr.split(':')[1] %>
                                                <% let am_pm='am' %>
                                                    <% let hour12='' %>
                                                        <% if(hour_int <=12){%>
                                                            <% hour12=hour_int.toString()%>
                                                                <% } else {%>
                                                                    <% hour12=(hour_int % 12 ).toString() %>
                                                                        <% am_pm='pm' %>
                                                                            <% }%>
                                                                                <% const
                                                                                    convertedTime=`${hour12}:${minute}
                                                                                    ${am_pm}`%>
                                                                                    <button class="teetime-container"
                                                                                        onclick="clickTeeTime(event)">
                                                                                        <div class="teetime-TimeLabel">
                                                                                            <span
                                                                                                style="margin-bottom: 1.5rem">
                                                                                                <%= convertedTime %>
                                                                                            </span>
                                                                                            <span class="start-hole">Tee
                                                                                                <%= teetimes[index].startingTee
                                                                                                    %> </span>
                                                                                            <span style="color:#C48A1C"
                                                                                                class="start-hole">
                                                                                                <%=teetimes[index].courseName
                                                                                                    %>
                                                                                            </span>
                                                                                        </div>
                                                                                        <div class="teetime-footer">
                                                                                            <%= teetimes[index].holesDisplay
                                                                                                %> HOLES | <%=
                                                                                                    teetimes[index].playersDisplay
                                                                                                    %>
                                                                                        </div>
                                                                                    </button>
                                                                                    <% if (index % 4===3) {%>
                            </div>
                            <% } %>
                                <% index++ %>
                                    <% } %>

                                        <% if (index % 4 !==0) { %>
        </div>
        <% } %>

            <% } else { %>
                <div class="missingTeeTimes"> <span>NO TEE TIMES AVAILABLE.</span></div>
                <% } %>
                    </div>


    </body>
    <script src="scripts/dashboard.js"></script>
    <script src="scripts/calender.js"></script>


</html>